.fillter_box input,
.fillter_box select{
  outline: none;
}

.fillter_box div input{
  width: 80px;
}

.card>div:first-child{
  height: 20vw;
  overflow: hidden;
  border-radius: 15px;
}

.cart{
  position: fixed;
  right: 0;
  height: 100vh;
  top: 0rem;
  transition: .5s;
  z-index: 2;
}
.cart img{
  width: 100px;
  border-radius: 10px;
}

@media (max-width:570px) {
  .card>div:first-child {
    height: 20vh;
  }
  .card>div:first-child img{
    width: 100%;
  }
}

